.cardsMovies {
    grid-gap: 20px;
    color: deeppink;
}
.meta {
    color: white;
}
/*Ipad*/
@media screen and (min-width: 425px) {
.cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

}

.Movie {
    border: 1px solid rgba(255, 20, 147, 0.36);
    display: grid;
    justify-items: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}
.Movie img {
    box-shadow: 19px 50px 8px rgba(0, 0, 0, 0.5)

}
/*Medium*/

@media screen and (min-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}