body {
    background: url("https://wallpapersmug.com/download/3840x2400/ea7c91/venom-tom-hardy-movie-5k.jpg")center fixed;
    background-size: cover;
}
input {
   height: 30px;
    opacity: 0.8;
    font-size: 2em;
    border: 1px solid deeppink;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

}

button {
    padding: 10px;
    border: none;
    background-color: deeppink;
}